* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* Prevents scroll */
}

.file-upload-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 10vh;
    background-color: #e1e1e1;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.chart-container {
    width: 100%;
    height: 90vh;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#fileInput,
#fileSelector {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

#fileNames p {
    color: #333;
    margin: 0;
}

#showChartButton,
#reset,
#saveCsvButton {
    background-color: #ccc;
    border: none;
    color: #333;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 0;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
}

#showChartButton:hover {
    background-color: #f4f4f4;
}

#deleteToggle:checked+label:before {
    transform: translateX(26px);
}

label[for="deleteToggle"],
label[for="showSpectrogram"] {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

#audioPlayer {
    width: 100%;
    margin-top: 10px;
    display: block;
    /* Ensure it is block by default when shown */
}